<div>
    <div class="jumbotron">
        <div class="container">
            <h1>Archivos</h1>
            <h3>Escoja un archivo viejo o ingrese uno nuevo. </h3>
            <br />
            <br />


            <div class="row">

                <div class="list-group">
                    <ul class="list-group">
                        <li class="list-group-item"><a ui-sref="informacion1" >Ejemplo 1</a></li>
                        <li class="list-group-item"><a ui-sref="informacion2" >Ejemplo 2</a></li>
                        <li class="list-group-item"><a ui-sref="informacion3" >Ejemplo 3</a></li>

                    </ul>


                </div>

                <button type="button" class="button">Añadir nuevo</button>
            </div>
        </div>
    </div>
</div>